* {
    box-sizing: border-box;
}

body {
    width: 900px;
    margin: 20px auto;
}

section {
    border: 1px solid #ddd;
    margin: 20px;
    padding-top:20px;
}

section>h2,
section>p {
    padding-left: 20px;
    padding-right: 20px;
}

section>ol {
    padding-left: 40px;
    padding-right: 40px;
}

section>section {
    border: 1px solid #e1e1e8;
    background-color: #F1E1F1;
    overflow: hidden;
    padding:10px;
    margin:0;
}

section>aside {
    float: right;
    width: 33%;
}
section > section > div{
    float:left;
    width:33%;
}
.part-1 [type="text"]{
    background-color: #FC06AA;
}
.part-1 [type="checkbox"]{
    background-color: #FFC013;
}
.part-1 a[href^="https"] {
    color: #0057e7
}.part-1 a[href$=".edu"]{
    color: #a00;
}
.part-1 a[hef*="mart"]{
    color:#004c91
}
.part3{
    display: none;
}