/*
    Convert this code to more efficient SCSS pattern
    Things to use: Nesting, variables and parent selector
*/
$main-color: #a00;
$secondary-color:#fff;
.book {
    .book-title, .book-body {
        color: $main-color;
        margin-bottom: 10px;
}

.btn {
    background: $main-color;
    color:$secondary-color;
}
    .btn:hover {
        background: #440000;
    }

}




