* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    margin:20px auto;    
    width:500px;
}
.input-group, .check-group{
    padding: 20px;
}
.input-group input, .input-group textarea, .input-group select{
    display: block;
    font-size: 20px;
    padding: 10px;
    width: 100%;
} 
label{
    color: #069;
}
.invalid{
    border-top: 3px solid #699400;
    border-left: 3px solid #699400;
    background: #940069;
}
.errors{
    color: #940069
}
.control-panel{
     text-align: center;
}
.control-panel button{
    font-size: 20px;
}

.invalid::-webkit-input-placeholder{
    color: #fff;
}